body  {
    background-image: url("me.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
     font-family: rochester;
     font-size: 5rem;
     color: #c56d7d; 
}


.navbar-nav {
    position: absolute;
    right: 0px;
    margin: 30px;
    padding: 10px;
    font-size: 1.8rem;
}

.name {
    line-height: 600px;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
    animation:fadein 5s;
}



 @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

