body {
    background-color: lightpink;
}
.top-buffer { 
    margin-top: 150px;
    margin-bottom: 50px;
}

.top-buffer2{
    margin-top: 80px;
    
}
.navbar-nav {
    position: absolute;
    right: 0px;
    margin: 30px;
    padding: 10px;
    font-size: 1.8rem;
}

.caption{
    margin-top: 20px;
}
.btn{
    color: white;
}
.thumbnail {
    margin-bottom: 80px;
}
.thumbnail2{
    margin-top: 50px;
}

h1 {
    color:white;
    font-style: oblique;
}

hr { width:100%; height:1px; background: rgb(255, 255, 255) }